<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.language">
      <language
            class="de.ovgu.cide.language.ecmascript.ECMAScriptExtension"
            fileExtensions=".js"
            id="de.ovgu.cide.language.ecmascript"
            name="ECMAScript Language Extension (Javascript)">
      </language>
   </extension>

</plugin>
