<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.language">
      <language 
            class="de.ovgu.cide.language.jdt.JDTLanguageExtension"
            fileExtensions=".java"
            id="de.ovgu.cide.language.jdt"
            name="Java 1.6 (Eclipse JDT based) Language Extension">
      </language>
   </extension>
   <extension
         point="de.ovgu.cide.core.configurationMechanism">
      <configurationMechanism
            mechanism="de.ovgu.cide.configuration.jdt.JDTConfigurationMechanism">
      </configurationMechanism>
   </extension>
   
      <extension
         id="javaeditor"
         point="org.eclipse.ui.editors">
      <editor
            name="Colored Java Editor"
            default="true"
            icon="icons/coloredj.gif"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="de.ovgu.cide.language.jdt.editor.ColoredCompilationUnitEditor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont"
            id="de.ovgu.cide.ColoredCompilationUnitEditor">
            <contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource"
            /> 
      </editor>
     
   </extension> <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="de.ovgu.cide.language.jdt.editor.FeatureInfoHover"
            id="FeatureInfoHover"
            label="FeatureInfoHover"/>
   </extension>
                <extension
                      point="de.ovgu.cide.typing.typingProvider">
                   <typingProvider
                         id="de.ovgu.cide.typing.jdt"
                         languageId="de.ovgu.cide.language.jdt"
                         name="Java Annotation Typing Checks"
                         provider="de.ovgu.cide.typing.jdt.JDTTypingExtension">
                   </typingProvider>
                </extension>
 <extension
       point="org.eclipse.jdt.core.compilationParticipant">
    <compilationParticipant
          class="de.ovgu.cide.typing.jdt.JDTProfiler"
          createsProblems="false"
          id="de.ovgu.cide.typing.jdt.JDTProfiler"
          modifiesEnvironment="false">
    </compilationParticipant>
 </extension>
 <extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="coloredide.projectContributions" objectClass="org.eclipse.core.resources.IProject">

			<action class="de.ovgu.cide.typing.jdt.organizeimports.OrganizeAllImportsAction"
				id="organizeimportcolors" label="Organize Import Colors" menubarPath="de.ovgu.cide.projectmenu/de.ovgu.cide.projectmenu.experimental/main" />
 <visibility>
      <and>
         <objectState
               name="nature"
               value="de.ovgu.cide.core.CIDEProjectNature">
         </objectState>
         <objectState
               name="open"
               value="true">
         </objectState>
      </and>
   </visibility>
		</objectContribution>


	</extension>
</plugin>
