[project]
	description = Virtual Separation of Concerns
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christian Kästner (ckaestne)
[access "refs/for/refs/*"]
	read = group user/Christian Kästner (ckaestne)
	push = group user/Christian Kästner (ckaestne)
	label-Code-Review = -2..+2 group user/Christian Kästner (ckaestne)
	label-Verified = -1..+1 group user/Christian Kästner (ckaestne)
	rebase = group user/Christian Kästner (ckaestne)
	removeReviewer = group user/Christian Kästner (ckaestne)
	submit = group user/Christian Kästner (ckaestne)
[access "refs/heads/*"]
	read = group user/Christian Kästner (ckaestne)
	create = group user/Christian Kästner (ckaestne)
	push = +force group user/Christian Kästner (ckaestne)
	pushMerge = group user/Christian Kästner (ckaestne)
[access "refs/tags/*"]
	push = +force group user/Christian Kästner (ckaestne)
	pushTag = group user/Christian Kästner (ckaestne)
	pushSignedTag = group user/Christian Kästner (ckaestne)
