<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.featureModelProvider">
      <featureModelProvider
            id="de.ovgu.cide.fm.list"
            name="Feature List Plugin"
            provider="de.ovgu.cide.fm.list.ListFMProvider">
      </featureModelProvider>
   </extension>
<extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="coloredide.projectContributions"
           objectClass="org.eclipse.core.resources.IProject">
        <menu
              id="coloride.menu1"
              label="CIDE"
              path="additions">
           <separator name="cideGroup"/>
        </menu>
       <action
              class="de.ovgu.cide.fm.list.editor.EditFeatureModelAction"
              enablesFor="1"
              id="coloride.editFeatureNames"
              label="Edit Features..."
              menubarPath="coloride.menu1/cideGroup"/>
     </objectContribution>
 
  </extension>
</plugin>
