<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="de.ovgu.cide.core.featureModelProvider">
		<featureModelProvider id="de.ovgu.cide.fm.list"
			name="Feature List Plugin" provider="de.ovgu.cide.fm.list.ListFMProvider">
		</featureModelProvider>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="coloredide.projectContributions" objectClass="org.eclipse.core.resources.IProject">
			<action class="de.ovgu.cide.fm.list.editor.EditFeatureModelAction"
				enablesFor="1" id="coloride.editFeatureNames_List" label="Edit Features... (list)"
				menubarPath="de.ovgu.cide.projectmenu/main" />
			<action class="de.ovgu.cide.fm.list.editor.ExportFeatureModelAction"
				enablesFor="1" id="coloride.exportToGuidsl" label="Export to GUIDSL Model... (list)"
				menubarPath="de.ovgu.cide.projectmenu/de.ovgu.cide.projectmenu.experimental/main" />
		
		 <visibility>
      <and>
         <objectState
               name="nature"
               value="de.ovgu.cide.core.CIDEProjectNature">
         </objectState>
         <objectState
               name="open"
               value="true">
         </objectState>
      </and>
   </visibility>
		</objectContribution>

	</extension>
	<extension point="de.ovgu.cide.typing.evaluationStrategy">
		<evaluationStrategy featureModelProvider="de.ovgu.cide.fm.list"
			id="de.ovgu.cide.typing.evaluationstrategy.subsetstrategy" name="Subset Evaluation Strategy"
			strategy="de.ovgu.cide.typing.list.SubsetStrategy">
		</evaluationStrategy>
	</extension>
</plugin>
