<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="de.ovgu.cide.export"
            class="de.ovgu.cide.export.virtual.ExportMungeWizard"
            id="de.ovgu.cide.export.munge"
            name="Export to Munge">
      </wizard>
      <wizard
            category="de.ovgu.cide.export"
            class="de.ovgu.cide.export.virtual.ExportCPPWizard"
            id="de.ovgu.cide.export.ifdef"
            name="Export to #ifdef (cpp)">
      </wizard>
 <wizard
            category="de.ovgu.cide.export"
            class="de.ovgu.cide.export.virtual.ExportAntennaWizard"
            id="de.ovgu.cide.export.antenna"
            name="Export to #ifdef (Antenna)">
      </wizard>      
       <wizard
            category="de.ovgu.cide.export"
            class="de.ovgu.cide.export.virtual.ExportJavaIfWizard"
            id="de.ovgu.cide.export.javaif"
            name="Export to If Statements (Native Java)">
      </wizard>    
   </extension>

</plugin>
