<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="coloredide.projectContributions" objectClass="org.eclipse.core.resources.IProject">

			<action class="de.ovgu.cide.importantenna.ImportAntennaProjectAnnotationsAction"
				id="importAntennaProject" label="Import from Antenna" menubarPath="de.ovgu.cide.projectmenu/de.ovgu.cide.projectmenu.experimental/main" />
 <visibility>
      <and>
         <objectState
               name="nature"
               value="de.ovgu.cide.core.CIDEProjectNature">
         </objectState>
         <objectState
               name="open"
               value="true">
         </objectState>
      </and>
   </visibility>
		</objectContribution>


	</extension>
</plugin>
