.GPL_TITLE
 {background-color: #DDDDDD ; font-family: Verdana ; font-size: 2em ; color: #000000 ; letter-spacing: 1pt; font-weight:bold}
 
.GPL_TITLE2
 {background-color: #EEEEEE ; font-family: Verdana ; font-size: 1.2em ; color: #000000 ; width: 100% ; letter-spacing: 1pt; font-weight:bold}

.GPL_TEXT
 {font-family: Arial}

.GPL_CODE
 {font-family: Courier}
