<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.language">
      <language
            class="de.ovgu.cide.language.bali.BaliLanguageExtension"
            fileExtensions=".b"
            id="de.ovgu.cide.language.bali"
            name="Bali Language Extension">
      </language>
   </extension>
   <extension
         point="de.ovgu.cide.typing.typingProvider">
      <typingProvider
            id="de.ovgu.cide.typing.bali"
            languageId="de.ovgu.cide.language.bali"
            name="Bali Annotation Typing"
            provider="de.ovgu.cide.typing.bali.BaliTypingExtension">
      </typingProvider>
   </extension>

</plugin>
