<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="evaluationStrategy"
		name="CIDE Type Evaluation Strategy" schema="schema/evaluationStrategy.exsd" />
	<extension-point id="typingProvider"
		name="CIDE Typing Provider" schema="schema/typingProvider.exsd" />
	<extension id="de.ovgu.cide.core.typing.problem" name="Annotation Typing Problem"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker" />
		<super type="org.eclipse.core.resources.textmarker" />
		<persistent value="false" />
		<attribute name="de.ovgu.cide.core.typing.problem.problemtype" />
		<attribute name="de.ovgu.cide.core.typing.problem.problemdata" />
	</extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="coloride.actionSet" label="CIDE" visible="true">
			<menu id="colorMenu" label="Colors">
				<separator name="colorGroup" />
			</menu>
			<action class="de.ovgu.cide.typing.internal.ForceValidationAction"
				id="coloride.validator.ForceValidationAction" label="Force Full Type Check"
				menubarPath="colorMenu/colorGroup" style="push"
				tooltip="Force type check for full project " />

		</actionSet>
	</extension>


	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="coloredide.projectContributions" objectClass="org.eclipse.core.resources.IProject">
			<menu id="coloride.menu1" label="CIDE" path="additions">
				<separator name="cideGroup" />
			</menu>

			<action class="de.ovgu.cide.typing.internal.ForceValidationAction"
				id="forceValidation" label="Force Full Type Check" menubarPath="coloride.menu1/cideGroup" />

		</objectContribution>


	</extension>
 <extension
       point="org.eclipse.ui.editorActions">
    <editorContribution
          id="coloride.coloredEditorActions"
          targetID="de.ovgu.cide.ColoredTextEditor">
       <action
             class="de.ovgu.cide.typing.internal.ForceValidationAction"
             icon="icons/sample.gif"
             id="coloride.validator.ForceValidationAction"
             label="Force Full Type Check"
             style="push"
             toolbarPath="Normal/additions"
             tooltip="Force type check for full project ">
       </action>
    </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
          class="de.ovgu.cide.typing.internal.resolution.ResolutionGenerator"
          markerType="de.ovgu.cide.core.typing.problem">
    </markerResolutionGenerator>
 </extension>


</plugin>
