<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.colorStorageProvider">
      <storageProvider
            id="de.ovgu.cide.storage.xml"
            name="XML Storage Provider"
            provider="de.ovgu.cide.storage.xml.XMLStorageProvider">
      </storageProvider>
   </extension>
   <extension
         point="de.ovgu.cide.typing.typingProvider">
      <typingProvider
            id="de.ovgu.cide.af"
            name="Alternative Features Syntax"
            provider="de.ovgu.cide.af.AlternativeSyntaxExtension">
      </typingProvider>
   </extension>
   <extension
         point="de.ovgu.cide.core.configurationMechanism">
      <configurationMechanism
            mechanism="de.ovgu.cide.configuration.AFConfigurationMechanism">
      </configurationMechanism>
   </extension>

</plugin>
