<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


     <extension
         point="org.eclipse.ui.views">
      <view
            name="ASTView"
            icon="icons/view.gif"
            category="coloride"
            class="coloredide.astview.ASTView"
            id="coloredide.ASTView">
      </view>
      <category
            id="coloride"
            name="CIDE"/>
      <view
            category="coloride"
            class="coloredide.tools.interactionanalyzer.InteractionsView"
            icon="icons/interaction.GIF"
            id="coloredide.InteractionsView"
            name="Feature Interactions"/>
   </extension>
   
 
  
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
        <viewShortcut id="org.eclipse.jdt.astview.views.ASTView"/>
     </perspectiveExtension>
     <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
        <view
              id="coloride.projectiontest.SampleView"
              ratio="0.5"
              relationship="right"
              relative="org.eclipse.ui.views.TaskList"/>
     </perspectiveExtension>
  </extension>
  <extension
        id="problem"
        name="Color Problem"
        point="org.eclipse.core.resources.markers">
     <super type="org.eclipse.jdt.core.problem"/>
     <persistent value="true"/>
     <attribute name="coloride.problemtype"/>
     <attribute name="coloride.problemdata"/>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="coloride.actionSet"
           label="Colors"
           visible="true">
        <menu
              id="colorMenu"
              label="Colors">
           <separator name="colorGroup"/>
        </menu>
        <action
              class="coloredide.validator.ForceValidationAction"
              id="coloride.validator.ForceValidationAction"
              label="Type-check entire SPL"
              menubarPath="colorMenu/colorGroup"
              style="push"
              tooltip="Force color validation for full project "/>
       <action
              class="coloredide.tools.updatecache.UpdateColorCacheAction"
              id="menu_AstView.action5"
              label="Refresh Color Cache (Debug)"
             menubarPath="colorMenu/colorGroup"/>
        <action
              class="coloredide.tools.organizeimports.OrganizeAllImportsAction"
              id="menu_AstView.action3"
              label="Organize Imports"
              menubarPath="colorMenu/colorGroup"/>
          <action
              class="coloredide.tools.interactionanalyzer.CollectInteractionsAction"
              id="menu_AstView.action4"
              label="Collect Interactions"
              menubarPath="colorMenu/colorGroup"/>
          <action
                class="coloredide.export2jak.validator.CheckColorsForJakExportAction"
                id="coloredide.export.jak.CheckColors"
                label="Check Colors for Jak Export"
                menubarPath="colorMenu/colorGroup"
                style="push">
          </action>

     </actionSet>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="coloredide.javaprojectContributions"
           objectClass="org.eclipse.jdt.core.IJavaProject">
        <menu
              id="coloride.menu1"
              label="CIDE"
              path="additions">
           <separator name="group1"/>
        </menu>
        <menu
              id="ColoredIDE.menu2"
              label="Analysis"
              path="coloride.menu1/group1">
           <separator name="group2"/>
        </menu>
        <action
              class="coloredide.validator.ForceValidationAction"
              id="AstView.action1"
              label="Type-check entire SPL"
              menubarPath="coloride.menu1/group1"/>
       <action
              class="coloredide.tools.updatecache.UpdateColorCacheAction"
              id="AstView.action5"
              label="Refresh Color Cache (Debug)"
              menubarPath="coloride.menu1/group1"/>
        <action
              class="coloredide.configuration.CreateConfigurationAction"
              enablesFor="1"
              id="coloride.newAction"
              label="Generate Variant..."
              menubarPath="coloride.menu1/group1"/>
        <action
              class="coloredide.tools.organizeimports.OrganizeAllImportsAction"
              id="AstView.action3"
              label="Organize Imports"
              menubarPath="coloride.menu1/group1"/>
          <action
              class="coloredide.tools.interactionanalyzer.CollectInteractionsAction"
              id="AstView.action4"
              label="Collect Interactions"
              menubarPath="coloride.menu1/group1"/>
       <action
              class="coloredide.tools.featurenamedialog.EditFeatureNamesAction"
              enablesFor="1"
              id="coloride.editFeatureNames"
              label="Edit Features..."
              menubarPath="coloride.menu1/group1"/>
       <action
              class="coloredide.export.ExportAction"
              enablesFor="1"
              id="coloride.exportProject"
              label="Export Project..."
              menubarPath="coloride.menu1/group1"/>
           <action
              class="coloredide.utils.ConvertColorFiles"
              enablesFor="1"
              id="coloride.convert"
              label="Convert Annotations to CIDE2 Format..."
              menubarPath="coloride.menu1/group1"/>
           <action
                 class="coloredide.utils.ExportFeatureModelAction"
                 enablesFor="1"
                 id="coloride.exportToGuidsl"
                 label="Export to GUIDSL Model... (list)"
                 menubarPath="coloride.menu1/cideGroup">
           </action>
     </objectContribution>
     <objectContribution
           adaptable="true"
           id="coloredide.compilationunitContributions"
           objectClass="org.eclipse.jdt.core.ICompilationUnit">
        <menu
              id="ColoredIDE.compUnitMenu"
              label="CIDE">
           <groupMarker name="group2"/>
        </menu>
        <action
              class="coloredide.tools.compunitcolor.SetCompUnitColorAction"
              id="ColoredIDE.SetCompUnitColor"
              label="Set CompilationUnit Color"
              menubarPath="ColoredIDE.compUnitMenu/group2"/>
     </objectContribution>
 
  </extension>

   <extension
         id="javaeditor"
         point="org.eclipse.ui.editors">
      <editor
            name="Colored Java Editor"
            default="true"
            icon="icons/coloredj.gif"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="coloredide.editor.ColoredCompilationUnitEditor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont"
            id="coloredIDE.ColoredCompilationUnitEditor">
            <contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource"
            /> 
      </editor>
     
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="coloredide.tools.quickfix.ColorMarkerResolutionGenerator"
            markerType="coloride.problem"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="coloredide.PerspectiveFactory"
            icon="icons/interaction.GIF"
            id="ColoredIDE.perspective"
            name="CIDE"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="coloredide.editor.ColorInfoHover"
            description="ColorInfoHoverDesc"
            id="ColoredIDE.ColorInfoHover"
            label="ColorInfoHover"/>
   </extension>
   <extension
         id="jakColorWarning"
         name="Jak Color Warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
</plugin>
