<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.language">
      <language 
            class="de.ovgu.cide.language.manifest.ManifestExtension"
            fileExtensions=".MF"
            id="de.ovgu.cide.language.manifest"
            name="Manifest Language Extension">
      </language>
   </extension>
   
                <extension
                      point="de.ovgu.cide.typing.typingProvider">
                   <typingProvider
                         id="de.ovgu.cide.typing.manifest-jdt"
                         languageId="de.ovgu.cide.language.manifest"
                         name="Manifest Export Packages Annotation Typing Checks"
                         provider="de.ovgu.cide.typing.manifest.ManifestJDTTypingExtension">
                   </typingProvider>
                </extension>
 
</plugin>
