<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="language" name="CIDE Language Extension"
		schema="schema/language.exsd" />
	<extension-point id="featureModelProvider" name="Feature Model Provider"
		schema="schema/featureModelProvider.exsd" />
	<extension-point id="configurationMechanism" name="CIDE Configuration Mechanism"
		schema="schema/configurationMechanism.exsd" />
	<extension-point id="colorStorageProvider" name="CIDE Color Storage Provider"
		schema="schema/colorStorageProvider.exsd" />

	<extension point="org.eclipse.ui.views">
		<view name="ASTView" icon="icons/view.gif" category="coloride"
			class="de.ovgu.cide.astview.ASTView" id="de.ovgu.cide.core.view.ASTView">
		</view>
		<category id="coloride" name="CIDE" />
		<view category="coloride"
			class="de.ovgu.cide.tools.interactionanalyzer.InteractionsView" icon="icons/interaction.gif"
			id="de.ovgu.cide.core.view.interactions" name="Statistics / Feature Interactions">
		</view>
		<view allowMultiple="true" category="coloride"
			class="de.ovgu.cide.tools.featureview.FeatureView" id="de.ovgu.cide.core.view.features"
			name="Feature List">
		</view>
	</extension>



	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<viewShortcut id="de.ovgu.cide.core.view.ASTView">
			</viewShortcut>
   <viewShortcut
         id="de.ovgu.cide.core.view.features">
   </viewShortcut>
   <viewShortcut
         id="de.ovgu.cide.core.view.interactions">
   </viewShortcut>
		</perspectiveExtension>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="coloredide.projectContributions" objectClass="org.eclipse.core.resources.IProject">
			<menu
         icon="icons/interaction.gif"
         id="de.ovgu.cide.projectmenu"
         label="CIDE"
         path="additions">
				<separator name="generate" />
    <separator
          name="main">
    </separator>
    <separator
          name="experimental">
    </separator>
    <separator
          name="disable">
    </separator>
			</menu>
   <menu
         id="de.ovgu.cide.projectmenu.experimental"
         label="Experimental"
         path="de.ovgu.cide.projectmenu/experimental">
      <separator
            name="main">
      </separator>
   </menu>
   <action
         class="de.ovgu.cide.configuration.CreateConfigurationAction"
         enablesFor="1"
         id="coloride.newAction"
         label="Generate Variant..."
         menubarPath="de.ovgu.cide.projectmenu/generate">
   </action>
			<action
				class="de.ovgu.cide.tools.interactionanalyzer.CollectInteractionsAction"
				id="AstView.action4" label="Collect Interactions/Statistics" menubarPath="de.ovgu.cide.projectmenu/main">
			</action>
     <action
           class="de.ovgu.cide.nature.DeinstallNatureAction"
           id="de.ovgu.cide.nature.deinstall"
           label="Disable CIDE"
           menubarPath="de.ovgu.cide.projectmenu/disable">
     </action>
   <visibility>
      <and>
         <objectState
               name="nature"
               value="de.ovgu.cide.core.CIDEProjectNature">
         </objectState>
         <objectState
               name="open"
               value="true">
         </objectState>
      </and>
   </visibility>
   <action
         class="de.ovgu.cide.utils.ColorFileUpdater"
         id="de.ovgu.cide.tools.updatecolorfiles"
         label="Update Color Files"
         menubarPath="de.ovgu.cide.projectmenu/de.ovgu.cide.projectmenu.experimental/main">
   </action>
		</objectContribution>
		<objectContribution adaptable="true"
			id="coloredide.resourceContributions" objectClass="org.eclipse.core.resources.IResource">
			<action class="de.ovgu.cide.navigator.SetColorPopup"
				enablesFor="+" id="ColoredIDE.SetResourceColor" label="Set File/Directory Color"
				menubarPath="group.open" />
   <visibility>
         <objectState
               name="projectNature"
               value="de.ovgu.cide.core.CIDEProjectNature">
         </objectState>
   </visibility>
		</objectContribution>
  <objectContribution
        adaptable="false"
        id="de.ovgu.cide.projectmenu"
        objectClass="org.eclipse.core.resources.IProject">
     <action
           class="de.ovgu.cide.nature.InstallNatureAction"
           icon="icons/nature.gif"
           id="de.ovgu.cide.nature.install"
           label="Enable CIDE for this project..."
           menubarPath="de.ovgu.cide.projectmenu/main">
     </action>
     <visibility>
        <and>
           <objectState
                 name="open"
                 value="true">
           </objectState>
           <not>
              <objectState
                    name="nature"
                    value="de.ovgu.cide.core.CIDEProjectNature">
              </objectState>
           </not>
        </and>
     </visibility>
     <menu
           icon="icons/interaction.gif"
           id="de.ovgu.cide.projectmenu"
           label="CIDE"
           path="additions">
        <separator
              name="main">
        </separator>
     </menu>
  </objectContribution>

	</extension>


	<extension point="org.eclipse.ui.perspectives">
		<perspective class="de.ovgu.cide.PerspectiveFactory" icon="icons/interaction.gif"
			id="ColoredIDE.perspective" name="CIDE" />
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type file-extensions="*.lang" id="de.ovgu.cide.coloredFile"
			name="Colored Source File" priority="normal">
		</content-type>
	</extension>


	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
        activeByDefault="true"
        contentProvider="de.ovgu.cide.navigator.ContentProvider"
        id="de.ovgu.cide.navigatorContentColorProvider"
        labelProvider="de.ovgu.cide.navigator.ColoringProvider"
        name="CIDE Color Provider"
        priority="high"
        providesSaveables="false">
			<triggerPoints>
				<or>
					<instanceof value="org.eclipse.core.resources.IWorkspaceRoot" />
					<instanceof value="org.eclipse.core.resources.IProject" />
					<instanceof value="org.eclipse.core.resources.IFolder" />
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof value="org.eclipse.core.resources.IWorkspaceRoot" />
					<instanceof value="org.eclipse.core.resources.IProject" />
					<instanceof value="org.eclipse.core.resources.IResource" />
					<instanceof value="org.eclipse.core.resources.IFolder" />
					<instanceof value="org.eclipse.core.resources.IFile" />
				</or>
			</possibleChildren>
			<enablement>
				<or>
					<instanceof value="org.eclipse.core.resources.IProject">
					</instanceof>
					<instanceof value="org.eclipse.core.resources.IResource">
					</instanceof>
				</or>
			</enablement>
		</navigatorContent>
	</extension>
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="de.ovgu.cide.navigatorContentColorProvider">
				</contentExtension>
			</includes>
		</viewerContentBinding>
		<viewer popupMenuId="coloredide.navigatorpopup" viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<popupMenu id="group.goto">
				<insertionPoint name="group.features" separator="true">
				</insertionPoint>
			</popupMenu>
		</viewer>
		<viewerContentBinding viewerId="org.eclipse.ui.views.ResourceNavigator">
			<includes>
				<contentExtension pattern="de.ovgu.cide.navigatorContentColorProvider">
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	
	<extension point="org.eclipse.ant.core.antTasks">
		<antTask class="coloredide.configuration.ConfGenTask"
			eclipseRuntime="true" headless="false" library="lib/antSupport.jar"
			name="cide.confGen">
		</antTask>
	</extension>
	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="ant_tasks/resources-ant.jar">
		</extraClasspathEntry>
	</extension>
	<extension point="org.eclipse.ui.viewActions">
		<viewContribution id="de.ovgu.cide.ColorFilter"
			targetID="org.eclipse.ui.navigator.ProjectExplorer">
			<action class="de.ovgu.cide.colorfilter.EnableColorFilterAction"
				enablesFor="*" icon="icons/interaction.gif" id="de.ovgu.cide.views.enable"
				label="View on selected features/variant" menubarPath="cide" state="false"
				style="toggle" toolbarPath="cide" tooltip="View on selected features: Hides all files that do not contain code of the selected features.">
			</action>

		</viewContribution>
	</extension>
	<extension point="org.eclipse.ui.ide.resourceFilters">
		<filter pattern="*.color" selected="true">
		</filter>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page class="de.ovgu.cide.preferences.PluginPreferencePage" id="coloredide.preferences.PluginPreferencePage"
			name="CIDE">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="de.ovgu.cide.preferences.PreferenceInitializer">
		</initializer>
	</extension>
	<extension id="coloredTextEditor" point="org.eclipse.ui.editors">
		<editor name="Colored Text Editor" default="true" icon="icons/coloredj.gif"
			class="de.ovgu.cide.editor.ColoredTextEditor" id="de.ovgu.cide.ColoredTextEditor">
			<contentTypeBinding contentTypeId="de.ovgu.cide.coloredFile" />
		</editor>

	</extension>
 <extension
       id="CIDEProjectNature"
       name="CIDE Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="de.ovgu.cide.nature.CIDEProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/nature.gif"
          id="de.ovgu.cide.coreCIDENatureImage"
          natureId="de.ovgu.cide.core.CIDEProjectNature">
    </image>
 </extension>
</plugin>
