<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.colorStorageProvider">
 <storageProvider
       id="de.ovgu.cide.storage.purevariants"
       name="pure::variants Storage Provider"
       provider="de.ovgu.cide.storage.purevariants.PVStorage">
      </storageProvider>
   </extension>
   <extension
         point="de.ovgu.cide.core.featureModelProvider">
      <featureModelProvider
            id="de.ovgu.cide.fm.purevariants"
            name="Pure Variants Feature Model Connector"
            provider="de.ovgu.cide.fm.purevariants.PVFeatureModelProvider">
      </featureModelProvider>
     
   </extension>
   <extension
         point="com.ps.consul.eclipse.core.ServerPluginDirectories">
      <plugindir
            path="server">
      </plugindir>
   </extension>
   <extension
         point="com.ps.consul.eclipse.core.ClientTransfomModule">
      <clientmodule
            class="de.ovgu.cide.configuration.purevariants.CIDETransformation"
            module="de.ovgu.cide.configuration.purevariants">
      </clientmodule>
   </extension>
</plugin>
