<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.language">
      <language
            class="de.ovgu.cide.language.fj.FJLanguageExtension"
            fileExtensions=".fj"
            id="de.ovgu.cide.language.fj"
            name="Featherweight Java Language Extension">
      </language>
   </extension>
   <extension
         point="de.ovgu.cide.typing.typingProvider">
      <typingProvider
            id="de.ovgu.cide.typing.fj"
            languageId="de.ovgu.cide.language.fj"
            name="cFJ Typing"
            provider="de.ovgu.cide.typing.fj.CFJTypingExtension">
      </typingProvider>
   </extension>

</plugin>
