<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.language">
      <language
            class="de.ovgu.cide.language.cppapprox.CPPApproxLanguageExtension"
            fileExtensions=".cpp,.h"
            id="de.ovgu.cide.language.cppapprox"
            name="C++ Language Extension (Pseudo Parser)">
      </language>
   </extension>

</plugin>
