<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="de.ovgu.cide.export"
            class="de.ovgu.cide.export.physical.ExportJakWizard"
            id="de.ovgu.cide.export.jak"
            name="Export to AHEAD (Jak)">
      </wizard>
      <wizard
            category="de.ovgu.cide.export"
            class="de.ovgu.cide.export.physical.ExportFeatureHouseWizard"
            id="de.ovgu.cide.export.fh"
            name="Export to FeatureHouse (Java)">
      </wizard>
      <wizard
            category="de.ovgu.cide.export"
            class="de.ovgu.cide.export.physical.ExportAspectJWizard"
            id="de.ovgu.cide.export.aspectj"
            name="Export to AspectJ">
      </wizard>
   </extension>
   <extension
         id="de.ovgu.cide.export.jak.jakColorWarning"
         name="Jak Export Warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
   </extension>
    <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="coloredide.projectContributions"
           objectClass="org.eclipse.core.resources.IProject">
       <action
              class="de.ovgu.cide.export.physical.ahead.validator.CheckColorsForJakExportAction"
              enablesFor="1"
              id="de.ovgu.cide.export.jak.CheckColors"
              label="Check Colors for Jak Export"
              menubarPath="de.ovgu.cide.projectmenu/de.ovgu.cide.projectmenu.experimental/main"/>
       <visibility>
      <and>
         <objectState
               name="nature"
               value="de.ovgu.cide.core.CIDEProjectNature">
         </objectState>
         <objectState
               name="open"
               value="true">
         </objectState>
      </and>
   </visibility>
     </objectContribution>
 
  </extension>
</plugin>
