#Wed Jul 29 14:47:58 CEST 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=de.ovgu.cide.core,de.ovgu.cide.guidsl,de.ovgu.cide.jdt,de.ovgu.cide.samples
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://faracvs.cs.uni-magdeburg.de/svn/ckaestne-coloredIDE/
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.user=ckaestne
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
