#Wed Jul 29 14:23:09 CEST 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=de.ovgu.cide.core,de.ovgu.cide.guidsl,de.ovgu.cide.jdt,de.ovgu.cide.samples
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
