#Wed Jul 29 13:47:36 CEST 2009
pluginbuilder.is.generation.necessary=true
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=de.ovgu.cide.core,de.ovgu.cide.guidsl,de.ovgu.cide.jdt,de.ovgu.cide.morelanguages,de.ovgu.cide.purevariantsconnector,de.ovgu.cide.samples
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
