<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.featureModelProvider">
      <featureModelProvider
            id="de.ovgu.cide.fm.guidsl"
            name="guidsl Feature Model Provider"
            provider="de.ovgu.cide.fm.guidsl.GuidslFMProvider">
      </featureModelProvider>
   </extension>
   <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="coloredide.projectContributions"
           objectClass="org.eclipse.core.resources.IProject">
        <menu
              id="coloride.menu1"
              label="CIDE"
              path="additions">
           <separator name="cideGroup"/>
        </menu>
       <action
              class="de.ovgu.cide.fm.guidsl.EditFeatureModelAction"
              enablesFor="1"
              id="coloride.editFeatureNames"
              label="Edit Features... (guidsl)"
              menubarPath="coloride.menu1/cideGroup"/>
      
     </objectContribution>
 
  </extension>
    <extension point="de.ovgu.cide.typing.evaluationStrategy">
		<evaluationStrategy featureModelProvider="de.ovgu.cide.fm.guidsl"
			id="de.ovgu.cide.typing.evaluationstrategy.sat4jstrategy" name="Guidsl (sat4j) Evaluation Strategy"
			strategy="de.ovgu.cide.typing.guidsl.SatEvaluationStrategy">
		</evaluationStrategy>
	</extension>
</plugin>
