## ConstructorSummary.vm
## JEDI Project 
## HTML Template for Constructor Summary
## Author: Roberto E. Lopez-Herrejon
## Last update: November 30, 2002

#if ($constructors == "true")
<!-- ======== CONSTRUCTOR  SUMMARY ======== --> 
<A NAME="constructor_summary"><!-- --></A> 
<TABLE BORDER="1" CELLPADDING="3" CELLSPACING="0" WIDTH="100%"> 
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"> 
<TD COLSPAN=2><FONT SIZE="+2"> 
 <B>Constructor Summary</B></FONT>
</TD> 
</TR> 

#foreach($constructor in $listConstructors)

<TR BGCOLOR="white" CLASS="TableRowColor"> 

	<TD>
	<CODE> 
	 <B> $constructor.name() 
	     $constructor.getFullSignature() 
	     $constructor.getThrowsString()
         </B>
	</CODE> 
	<BR> 
	 $constructor.comment().textFirstSentenceTags()
	</TD> 
</TR> 

#end

</TABLE> 

<BR>

#end 

## End of ConstructorSummary.vm

