## ConstructorDetails.vm
## JEDI Project 
## HTML Template for Constructor Details
## Author: Roberto E. Lopez-Herrejon
## Last update: November 30, 2002


#if ($constructors == "true")
 
 ## Writes the bar of Constructor Details 
 <!-- ======== CONSTRUCTOR DETAILS ======== -->
 <TABLE BORDER="1" CELLPADDING="3" CELLSPACING="0" WIDTH="100%"> 	
 <TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
 <TD COLSPAN=1><FONT SIZE="+2">
 <B> Constructor Details </B>
 </FONT>
 </TD>
 </TR> 
 </TABLE> 
 <BR>	 

 #foreach($constructor in $listConstructors)	 
  <A NAME="$constructor.name() $constructor.getFullSignature()" </A> ## anchor 
  <H3> $constructor.name() </H3>
  $constructor.modifiers() &nbsp;  
  <B> $constructor.name() </B> 
  $constructor.getFullSignature() &nbsp; 
  $constructor.getThrowsString()
  <BR> &nbsp;&nbsp;

  ## Construction description 
  $generator.descriptionComment($constructor.inlineTags())

##  // Displays the tags
##  writeConstructorDescription((ConstructorDocJTS)constructors[l], outFile);
 
  <P>
  <DL>
   
   ## Tests the usability of a single Tag file
   #set($doc = $constructor)
   
   ## Parses deprecated tags
   #parse("TargetTemplates/DeprecatedTags.vm")

   ## Parses param tags
   #parse("TargetTemplates/ParamTags.vm")

   ## Parses throws tags
   #parse("TargetTemplates/ThrowsTags.vm")
   
   ## Parse author tags
   #parse("TargetTemplates/AuthorTags.vm")

   ## Parses version tags
   #parse("TargetTemplates/VersionTags.vm")
  
   ## Parses since tags
   #parse("TargetTemplates/SinceTags.vm")

     ## Parses see tags
   #parse("TargetTemplates/SeeTags.vm")
 
   ## Parses return tags
   #parse("TargetTemplates/ReturnTags.vm")
 
    </DL>
   </P>
   <HR>
   <BR>

  <BR>

 #end
#end

## End of ConstructorDetails.vm