## FieldDetails.vm
## JEDI Project 
## HTML Template for Field Details
## Author: Roberto E. Lopez-Herrejon
## Last update: November 30, 2002

\#if ($fields == "true")
 
#foreach($layoutElement in $layoutList)

<!-- $layoutElement  -->

 #include($layoutElement)

#end     ## of for each

\#end

## End of FieldDetails.vm


