<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.ovgu.cide.core.language">
      <language
            class="de.ovgu.cide.language.properties.PropertyLanguageExtension"
            fileExtensions=".properties"
            id="de.ovgu.cide.language.properties"
            name="Property File Language Extension">
      </language>
   </extension>

</plugin>
