wtk.midp.version = 2.0
wtk.cldc.version = 1.0
java.target = 1.0
wtk.optionalpda.enabled = false
debug = debug
DMIDPVERS = DMIDP20
#1.1 kills us.
DCLDCVERS = DCLDCV10
#Don't allow Itunes to save performance and memory
DITUNESDEF = DNOITUNES
DJSR75 = DNOJSR75
DJSR238 = DNOJSR238
DMEMSIZEDEF = DREGULARMEM
JMIDPVERS = MIDP-2.0 
JCLDCVERS = CLDC-1.0
PERMISSIONS = ,javax.microedition.io.HttpsConnection
file.prefix = midp20_
bin = ../bin20
MIDLETVERS = ${MIDLETVERSROOT}
SUFFIXVERS = 2.0
